[alias]
		p = pull -p
		f = fetch -p
    l = log --graph --oneline --all
		dlb = !git fetch -p && git branch --merged | grep -vE '(\\*|.master|.develop)'| xargs -n 1 git branch -d
		amend = commit --amend
[core]
	excludesfile = /Users/stewartscott/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Stewart Scott
	email = stewart42@gmail.com
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --new --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --new --wait --diff $LOCAL $REMOTE
[difftool]
	prompt = false
[help]
  # Automatically correct and execute mistyped commands
  autocorrect = 1


[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
